{% extends 'mediverse/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
Mediverse
{% endblock %}

{% block clear_chat %}
<button type="button" class="btn btn-danger" onclick="confirmClearChatHistory()">Clear Chat</button>
{% endblock %}

{% block main %}

<main class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- Display chatbot response -->
            <div class="chatbot-response">
                {% for message in chat_history %}
                    <div class="message user-message">
                        {{ message.user_input }}
                    </div>
                    <div class="message mediverse-message">
                        <img src="{% static 'mediverse/logo.svg' %}" width="30" height="30" class="d-inline-block align-top" alt=""/>
                        {% if message.chatbot_response_list %}
                            <ul class="list">
                                {% for item in message.chatbot_response_list|parse_list %}
                                    <li><a href="{% url 'mediverse:medicine_detail' item %}">{{ item }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ message.chatbot_response_str }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <form id="clearChatForm" action="{% url 'mediverse:clear_chat_history' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="clearConfirmation" name="clear_confirmation" value="0"> 
                <!-- <button type="button" class="btn btn-danger mt-3" onclick="confirmClearChatHistory()">Clear Chat History</button> Use button type instead of submit -->
            </form>

            <!-- Chatbot form -->
            <form method="post" action="{% url 'mediverse:index' %}" class="mt-3 chat-input-form">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.user_input }}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>  
                </div>
            </form>
        </div>
    </div>
</main>

<script>
    function confirmClearChatHistory() {
        if (confirm("Do you really want to clear chat history?")) {
            document.getElementById("clearConfirmation").value = "1"; // Set value to 1 if confirmed
            document.getElementById("clearChatForm").submit(); // Submit the form
        }
    }
</script>

{% endblock %}
